body{
font-family:Arial;
margin:0;
background:#111;
color:white;
}

header{
background:#000;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:linear-gradient(45deg,#0f2027,#203a43,#2c5364);
}

section{
padding:40px;
}

.player{
background:#222;
padding:20px;
border-radius:10px;
margin-top:20px;
}

footer{
text-align:center;
padding:20px;
background:#000;
}